@page
<div id="regModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="closereg">&times;</span>

        <form id="registration" method="post" onsubmit="RegisterUser();">
            <h1 style="text-align: center;">Who are you?</h1>
            <label class="container">

                <input name="user" value="employer" id="employerradio" type="radio">
                <span class="checkmark"></span>
                Employer
            </label>
            <label class="container">
                <input name="user" value="student" id="studentradio" type="radio" checked>
                <span class="checkmark"></span>
                Student
            </label>

            <hr />
            <h4 id="regerror" style="color: crimson; text-align: center; font-weight: normal;"></h4>
            <div class="form-model" style="margin-top: 30px;">
                <div class="input-container">
                    <i class="fa fa-user icon"></i>
                    <input class="input-field" type="text" placeholder="Enter your first name..." id="FirstName">
                </div>

                <div class="input-container">
                    <i class="fa fa-user icon"></i>
                    <input class="input-field" type="text" placeholder="Enter your last name..." id="LastName">
                </div>

                <div class="input-container">
                    <i class="fa fa-envelope icon"></i>
                    <input class="input-field" type="email" placeholder="Enter your email..." id="Email">
                </div>

                <div class="companiesMenu" style="display: flex; justify-content: center;">
                    <h2 style="text-align: center; font-family: Bahnschrift, Arial, serif; margin: 10px 0;">Select your company: </h2>
                    <select class="custom-select" id="CompanyName">
                        <option>Select your company...</option>
                    </select>
                </div>

                <div class="input-container">
                    <i class="fa fa-key icon"></i>
                    <input class="input-field" type="password" placeholder="Enter your password..." id="Password">
                </div>

                <button type="submit" class="btn">Register</button>
            </div>
        </form>
    </div>
 </div>
<script>
    $('.companiesMenu').hide();
    $('#studentradio').focus(function () {
        $('.companiesMenu').hide();
    });
    $('#employerradio').focus(function () {
        $('.companiesMenu').show();
    });
    var regmodal = document.getElementById("regModal");
    var regbtn = document.getElementById("regBtn");
    var regspan = document.getElementsByClassName("closereg")[0];
    regbtn.onclick = function () {
        regmodal.style.display = "block";
    }
    regspan.onclick = function () {
        regmodal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == regmodal) {
            regmodal.style.display = "none";
        }
    }
    $.get(
        '/companies'
    ).done(function (data) {
        let companies = data;
        for (let i = 0; i < companies.length; i++) {
            $('.companiesMenu .custom-select').append('<option value="' + companies[i].name + '">"' + companies[i].name + '"</option>');
        }
    });
    $('#registration').submit(function (e) {
        let user = $('input[name="user"]:checked').val();
        e.preventDefault();
        if (user === 'employer') {
            let employer = {
                FirstName: $('#FirstName').val(),
                LastName: $('#LastName').val(),
                Email: $('#Email').val(),
                Password: $('#Password').val(),
                CompanyName: $('#CompanyName').val()
            };
            var isValid = false;
            for (var key in employer) {
                if (employer[key] === '') isValid = true;
            };
            if (isValid === true) $('#regerror').html("Fill all fields");
            else {
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "/users/employers/auth/register",
                    data: JSON.stringify(employer),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        window.location.reload();
                    },
                    error: function (response) {
                        $('#regerror').html("This user already exists");
                    }
                });
            }
        } else {
            let student = {
                FirstName: $('#FirstName').val(),
                LastName: $('#LastName').val(),
                Email: $('#Email').val(),
                Password: $('#Password').val()
            };
            var isValid = false;
            for (var key in student) {
                if (student[key] === '') isValid = true;
            };
            if (isValid === true) $('#regerror').html("Fill all fields");
            else {
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "/users/students/auth/register",
                    data: JSON.stringify(student),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        window.location.reload();
                    },
                    error: function (response) {
                        $('#regerror').html("This user already exists");
                    }
                });
            }
        }
    });

</script>