*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

header div.header{
    display: flex;
    justify-content: space-between;
    padding: 50px 10px;
    filter: brightness(100%) !important;
}
div.imgblock{
    position: relative;
    filter: brightness(50%);
}
header div.header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header div.header ul li{
    list-style-type: none;
    margin: 0 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    font-family: Bahnschrift, Bell MT, Arial, serif;
}
#search:focus{
    outline: none;
}
header div.header h1{
    position: relative;
     font-size: 1.8em;
     font-variant: small-caps;
      color: cyan; 
      font-family: Bahnschrift, Bell MT, Arial, serif;
}
#headerimg{
    display: block;
    width: 100%;
    max-height: 750px;
    position: absolute;
    top: 0;
    z-index: -999;
}
.btn{
    font-size: 1.5em;
    padding: 20px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.articlesnews{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0 50px;
}
.articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    margin-top: 50px;
    column-gap: 30px;
}
.articles article{
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid black;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: Bahnschrift, Arial, Verdana, serif;

}
.articles article img{
    border: 2px solid black;
}

.articles article h2{
    padding: 20px;
    font-size: 20px;
    color: skyblue;
}
.news article{
    background: white;
    margin: 30px 0;
    font-family: Bahnschrift, Arial, Verdana, serif;
    padding: 20px;
    border: 3px solid black;
}
.news article img{
    border: 3px solid black;
}
.news article p{
    padding: 20px 0 ;
}
.news-title{
    padding: 20px 0;
    text-align: center;
    font-size: 20px !important;
    border-bottom: 2px solid skyblue;
}
.news article a:hover{
    color:skyblue;
}
.companies{
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.companies li{
    list-style-type: none;
    font-size: 1.5em;
    margin: 0px 30px;
    margin-bottom: 40px;
}
.companies li a{
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}
.companies li a:hover{
    border-bottom: 2px solid skyblue;
    color: crimson;
}



div#positions{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    color: white;
}
div.position {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px double white;
    padding: 20px;
    font-family: Bahnschrift, Arial, sans-serif;
}
div.position div{
    font-size: 13px;
    font-style: italic;
}
    div.position a {
        display: block;
        margin-top: 15px;
        color: mediumturquoise;
        font-size: 18px;
        text-decoration: none;
        text-align: center;
    }
    div.position:hover{
        background: deepskyblue;
    }
    div.position:hover a{
        color: white;
    }




span.msg,
span.choose {
    color: #555;
    padding: 5px 0 10px;
    display: inherit
}

.companiesMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}

#myBtn:hover{
    cursor:pointer;
    background: rgba(0, 0, 0, 0.5);
    color: aqua;
}
#myBtn:focus {
    border: none;
}
#loginBtn:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: aqua;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closereg, .closeauth {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

    .input-field:focus {
        border: 2px solid dodgerblue;
    }

/* Set a style for the submit button */
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 35%;
    max-width: 30%;
    width: 100%;
    opacity: 0.9;
}

    .btn:hover {
        opacity: 1;
    }





.custom-select {
    position: relative;
    display: block;
    max-width: 50%;
    left: 25%;
    padding: 10px 20px;
    font-family: Bahnschrift, serif;
    font-size: 1.3em;
    background: dodgerblue;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
    border: 1px solid #ddd;
    border-radius: 3px;
}

    .custom-select:hover {
        border: 1px solid #999;
    }

    .custom-select:focus {
        border: 1px solid #999;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
        outline: none;
    }
select::-ms-expand {
    display: none;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    font-size: 20px;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    outline: none;
}

    .input-field:focus {
        border: 2px solid dodgerblue;
    }

/* Set a style for the submit button */
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 35%;
    max-width: 30%;
    width: 100%;
    opacity: 0.9;
}

    .btn:hover {
        opacity: 1;
    }

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

    .input-field:focus {
        border: 2px solid dodgerblue;
    }

/* Set a style for the submit button */
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 35%;
    max-width: 30%;
    width: 100%;
    opacity: 0.8;
}

    .btn:hover {
        opacity: 1;
    }

#regBtn, #loginBtn{
    opacity: 0.7;
}
#regBtn:hover{
    opacity: 1;
    cursor: pointer;
}
#loginBtn:hover {
    opacity: 1;
    cursor: pointer;
}

/* STYLES SPECIFIC TO FOOTER  */
.footer {
    margin-top: 80px;
    width: 100%;
    height: auto;
    background-color: #070617;
}

    .footer .col {
        width: 190px;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0px 20px 20px 20px;
    }

        .footer .col h1 {
            margin: 0;
            padding: 0;
            font-family: inherit;
            font-size: 12px;
            line-height: 17px;
            padding: 20px 0px 5px 0px;
            color: rgba(255,255,255,0.2);
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 0.250em;
        }

        .footer .col ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            .footer .col ul li {
                color: #999999;
                font-size: 14px;
                font-family: inherit;
                font-weight: bold;
                padding: 5px 0px 5px 0px;
                cursor: pointer;
                transition: .2s;
                -webkit-transition: .2s;
                -moz-transition: .2s;
            }

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }

    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }

        .footer .col h1 {
            font-size: 14px;
        }

        .footer .col ul li {
            font-size: 13px;
        }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }

        .footer .col h1 {
            font-size: 14px;
        }

        .footer .col ul li {
            font-size: 13px;
        }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
}