@page
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    @@media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }

    #addads input {
        font-size: 18px;
    }

    .adsfield {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    #adssubmit {
        background-color: dodgerblue;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

        #adssubmit:hover {
            background-color: mediumspringgreen;
        }

    .addarticle {
        border-radius: 5px;
        border: 2px solid black;
        background: white;
        color: black;
        padding: 20px;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    #publishDate {
        -moz-appearance: textfield;
    }
</style>
<script>
    $(document).ready(function () {
        $('#addarticleblock').hide();
        $('#addArticlebtn').click(function () {
            $('#addarticleblock').show();
            $('#addnewsblock').hide();
        });
    });
    
</script>
<div id="addarticleblock" class="addarticle">
    <h1>Новая статья</h1>
    <form method="post" id="addarticleform">
        <h4 id="adserror" style="color: crimson; font-weight: normal;"></h4>
        <div class="row">
            <div class="col-25">
                <label for="title">Заголовок</label>
            </div>
            <div class="col-75">
                <input type="text" id="title" name="title" placeholder="Ваш заголовок..." class="adsfield">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="salary">Дата публикации</label>
            </div>
            <div class="col-75">
                <input type="date" id="publishDate" name="publishDate" placeholder="Ваша дата публикации..." class="adsfield">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="description">Описание</label>
            </div>
            <div class="col-75">
                <textarea id="description" class="adsfield" name="description" placeholder="Разместите здесь описание статьи..." style="height:200px"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit" id="adssubmit">
        </div>
    </form>
</div>
<script>

    $('#addarticleform').submit(function (e) {
        e.preventDefault();
        let art = {
            Title: $('#title').val(),
            PublishDate: $('#publishDate').val(),
            Description: $('#description').val()
        };
        alert(JSON.stringify(art));
        var isValid = false;
        for (var key in art) {
            if (art[key] === '') isValid = true;
        };
        if (isValid === true) $('#adserror').html("Fill all fields");
        else {
            $.ajax({
                method: "POST",
                headers: {
               'Authorization': "Bearer @HttpContextAccessor.HttpContext.Session.GetString("Token")"
                },
                async: false,
                url: "/articles/add",
                data: JSON.stringify(art),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    window.location.replace('/home/index');
                },
                error: function (response) {
                    alert(JSON.stringify(response));
                    $('#adserror').html("This article already exists");
                }
            });
        }
    });
</script>